{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="emails-view">
</div>

<div id="email-content-view">
    <div>
        <b>From: </b>
        <label id="email_sender"></label>
    </div>
    <div>
        <b>To: </b>
        <label id="email_recipients"></label>
    </div>
    <div>
        <b>Subject: </b>
        <label id="email_subject"></label>
    </div>
    <div>
        <b>Timestamp: </b>
        <label id="email_timestamp"></label>
    </div>
    <button id="email_reply_btn" type="button" class="btn btn-sm btn-outline-primary">Reply</button>
    <hr>
    <p id="email_body" style="white-space: pre-line"></p>
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group">
            From: <input id="email_sender_input" disabled class="form-control" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control" required>
            <div id="recipient-error" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject" required>
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <br>
        <input id="submit-compose" type="submit" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}